* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
    background-color: #000000;
}

header {
    width: auto;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #B1ED71;
    margin-bottom: 100px;
}

a {
    background-color: #B1ED71;
    color: black;
    font-weight: 800;
    font-size: 20px;
    margin-left: 100px;
    text-decoration: none;
    position: relative;
}

a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

iframe {
    margin-left: 400px;
    margin-bottom: 200px;
}

main {
    color: #fff;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #B1ED71;
}

.sustainability {
    display: flex;
    padding-top: 50px;
    padding-left: 50px;
}

.img-sustainability {
    width: 700px;
    height: 400px;
}

.about {
    display: block;
    margin-right: 20px;
    margin-left: 100px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #B1ED71;
}

.about p {
    padding-top: 5px;
}

.about-sustainability {
    padding-top: 50px;
}

.like-sustainibility {
    padding-top: 50px;
}

ul {
    padding-top: 5px;
    padding-left: 20px;
}

.RRR {
    display: flex;
}

.reutilizar, .reciclar, .reduzir {
    width: 400px;
    height: 300px;
    text-align: center;
    margin-left: 75px;
    margin-bottom: 100px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #B1ED71;
}

.reutilizar h2 {
    padding: 10px;
}

.title02 {
    padding-top: 100px;
    padding-bottom: 50px;
}

#container-information {
    display: flex;
}

.information {
    margin-left: 70px;
    margin-top: 50px;
    width: max-content;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #B1ED71;
}

.information p {
    padding: 10px;
    color: #fff;
}

#img-cat {
    width: 400px;
    display: flex;
    margin-left: 200px;
}

.oi {
    margin-top: 250px;
    text-align: center;
    color: #fff;
    width: auto;
}

.etec {
    margin-top: 50px;
    margin-left: 630px;
    width: 100px;
    border-radius: 10px;
}

.centro {
    margin-top: 50px;
    margin-left: 50px;
    width: 100px;
    border-radius: 10px;
}

.logo {
    margin-left: 50px;
    width: 100px;
    background-color: #B1ED71;
}